antiorm==1.2.1
asn1crypto==0.24.0
attrs==19.3.0
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
cloud-init==19.1.3
command-not-found==0.3
configobj==5.0.6
cryptography==2.1.4
cymysql==0.9.14
db==0.1.1
decorator==4.4.2
distro-info==0.18ubuntu0.18.04.1
EditorConfig==0.12.2
filemagic==1.6
Flask==1.1.2
Flask-Cors==3.0.8
Flask-HTTPAuth==4.1.0
Flask-Login==0.5.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
html5lib==1.0.1
HTMLParser==0.0.2
idna==2.9
importlib-metadata==1.6.0
itsdangerous==1.1.0
jieba==0.42.1
Jinja2==2.11.2
joblib==0.15.1
jsbeautifier==1.11.0
jsonpatch==1.25
jsonpointer==2.0
jsonschema==3.2.0
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
lxml==4.5.1
MarkupSafe==1.1.1
MechanicalSoup==0.12.0
mechanize==0.4.5
netifaces==0.10.4
nltk==3.5
numpy==1.18.5
oauthlib==3.1.0
pandas==1.0.4
pycrypto==2.6.1
pygeoip==0.3.2
pygobject==3.26.1
pyrsistent==0.16.0
python-apt==1.6.5+ubuntu0.2
python-dateutil==2.8.1
pytz==2020.1
pyxdg==0.25
PyYAML==5.3.1
regex==2020.5.14
requests==2.23.0
requests-file==1.5.1
scikit-learn==0.23.1
scipy==1.4.1
SecretStorage==2.3.1
six==1.14.0
sklearn==0.0
soupsieve==2.0.1
SQLAlchemy==1.3.17
ssh-import-id==5.7
textblob==0.15.3
threadpoolctl==2.1.0
tldextract==2.2.2
tqdm==4.46.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.9
validators==0.15.0
webencodings==0.5.1
Werkzeug==1.0.1
whois==0.9.7
WTForms==2.3.1
zipp==3.1.0





